<div class="footer" style="position: fixed; left: 0px; bottom: 0px; height: 50px; width: 100%; background: #FFFFFF; text-align: center;">
  <img src="{{subd}}/static/Leeds-logo.jpg" alt="Leeds logo" style="height:50px; width:auto; padding: 2px">
  <img src="{{subd}}/static/MO-logo.jpg" alt="Met Office logo" style="height:50px; width:auto; padding: 2px">
  <img src="{{subd}}/static/UEA-logo.png" alt="UEA logo" style="height:50px; width:auto; padding: 2px">
  <img src="{{subd}}/static/UoR-logo.jpg" alt="Reading logo" style="height:50px; width:auto; padding: 2px">
  <img src="{{subd}}/static/NCAS-logo.jpg" alt="NCAS logo" style="height:50px; width:auto; padding: 2px">
  <img src="{{subd}}/static/Monash-logo.jpg" alt="MONASH logo" style="height:50px; width:auto; padding: 2px">
</div>
