<div class="footer" style="position: fixed; left: 0px; bottom: 50px; height: 20px; width: 100%; background: #FFFFFF; text-align: center;">
  <p style="height: 20px;">Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2018 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</p>
</div>
<div class="footer" style="position: fixed; left: 0px; bottom: 0px; height: 50px; width: 100%; background: #FFFFFF; text-align: center;">
  <img src="/static/Newton-Fund-logo.jpg" alt="Newton Fund logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/UEA-logo.png" alt="UEA logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/UoR-logo.jpg" alt="Reading logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/NCAS-logo.jpg" alt="NCAS logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/Monash-logo.jpg" alt="MONASH logo" style="height:50px; width:auto; padding: 2px">
  <img src="/static/MO-logo.jpg" alt="Met Office logo" style="height:50px; width:auto; padding: 2px">
  <p> <a href="/privacy"> Privacy</a>
</div>
