{% extends 'layout.html' %}

{% block body %}
<h1>About</h1>
<hr>
<p style="text-align: justify;">
  High impact weather (HIW) events in the tropics are typically associated with convectively
  active weather systems, including tropical cyclones. These convective weather systems are
  modulated by a multitude of factors including the complex local orography, land-sea contrasts,
  the monsoonal seasonal cycle, and by large-scale modes of variability on intraseasonal
  timescales (e.g. equatorially trapped waves and the Madden-Julian Oscillation) and interannual
  timescales (e.g. El Niño-Southern Oscillation and the Indian Ocean Dipole). The convective
  nature of these HIW events makes forecasting a challenge and requires a combination of global
  and high-resolution regional models to predict both the large-scale drivers of the events and
  the detail of the events themselves.
  <br><br>
  Interpreting the output of numerical weather prediction models requires an understanding of
  the underlying meteorology that produces the weather. The FORecaster Training In Southeast
  Asia (FORTIS) training course on tropical science and forecasting in Southeast Asia is designed
  to provide training on the dynamics of meso- to synoptic-scale weather systems, their large-scale
  drivers, global and regional numerical weather prediction (NWP) and the performance of those NWP
  systems.
  <br><br>
  The overall objective of FORTIS is to develop and deliver a 1-week training course that will
  advance the understanding of tropical meteorology for research scientists and operational
  forecasters in the UK and partner countries in Southeast Asia. The FORTIS workshops will be run
  in the UK, the Philippines, Malaysia and Indonesia.
  <br><br>
  The FORTIS project is part of the Weather and Climate Science for Service Partnership (WCSSP)
  Programme, which aims to develop partnerships harnessing UK scientific expertise to build the
  basis for strengthening the resilience of vulnerable communities to weather and climate variability.
  The WCSSP Programme is supported by the UK government's Newton Fund and administered by the UK Met
  Office. More information can be found
  <a href="https://www.metoffice.gov.uk/research/collaboration/newton" target="_blank">here</a>
</p>
{% endblock %}
