{% extends 'layout.html' %}

{% block body %}
<h1>About</h1>
<hr>
<p>
  The FORTIS project forms part of the Weather and Climate Science for Service Partnership (WCSSP) Programme,
  which aims to develop partnerships harnessing UK scientific expertise to build the basis for strengthening
  the resilience of vulnerable communities to weather and climate variability
</p>
<p>
  The WCSSP Programme is supported by the UK government's Newton Fund and administered by the UK Met Office.
  More information can be found <a href="https://www.metoffice.gov.uk/research/collaboration/newton">here</a>.
</p>
{% endblock %}
