{% extends 'layout.html.j2' %}

{% block body %}
  <h1>Edit file information</h1>
  <hr>
  <p><b>Browse to select a different file or leave blank if you only want to change the file information</b></p>
  {% from "includes/_formhelpers.html.j2" import render_field %}
  <form id="edit-form" action=/edit/{{id}}/{{S3_OR_DBX}} method="POST" enctype="multipart/form-data">

      <input type="file" name="file">
      <br>

    <div class="form-group">
      {{render_field(form.title, class_="form-control", placeholder="e.g.'Tropical cyclone track forecasting'. This is the name the trainees will see.")}}
      <br>
      {{render_field(form.description, class_="form-control", placeholder="(Optional) Add a short description of the material's content")}}
      <br>
      {{render_field(form.type, class_="form-control")}}
      <br>
      {{render_field(form.who, class_="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary" id="submit_button">Submit changes</button>
  </form>

  <hr>
{% endblock %}
