{% extends 'layout.html' %}

{% block body %}
  <h1>Edit file information</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="edit-form" action={{subd}}/edit/{{id}} method="POST">
    <div class="form-group">
      {{render_field(form.title, class_="form-control", placeholder="e.g.'Tropical cyclone track forecasting'. This is the name the trainees will see.")}}
      <br>
      {{render_field(form.description, class_="form-control", placeholder="(Optional) Add a short description of the material's content")}}
      <br>
      {{render_field(form.workshop, class_="form-control")}}
      <br>
      {{render_field(form.type, class_="form-control")}}
      <br>
      {{render_field(form.who, class_="form-control")}}
    </div>
    <button class="btn btn-primary" type="submit">Submit changes</button>
  </form>

  <hr>
{% endblock %}
