{% extends 'layout.html' %}
{% block styles %}
<style>
body,html {
  height: 100%;
  margin: 0;
}
/* img {
  width: 100%;
  height: auto;
} */
.bgimg {
  background-image: url("{{subd}}/static/Hector_cloud_from_Gunn_Point.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% endblock %}
{% block body %}
  <span style="float:right; color: white;" data-toggle="tooltip" title="Developing convection over the Tiwi Islands, Australia. Photo by Djambalawa for Wikimedia commons">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Image source
  </span>
  {% if session.logged_in %}
    <h2 style="color: white;">
      You are currently logged in as <b>{{ session.username }}</b>.
      You can view the training material <a href={{subd}}/training-material>here</a>
    </h2>
  {% else %}
    <h2 style="color: white;">Please log in to access the training material</h2>
    <br>
    <form action="" method="POST">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" value={{ request.form.username }}>
      </div>
      <br>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" value={{ request.form.password }}>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endif %}
  <br>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
