<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="IetI9DQr3pdMF83UhzTum3yciTOng9Z6pk9UJENScV4" />
    <title>FORTIS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href=/static/favicon.ico>
    {% block styles %}{% endblock %}
  </head>
<!-- Force HTTPS -->
<script language="JavaScript">
  var loc = window.location.href + '';
  if (loc.indexOf('http://') == 0) {
    window.location.href = loc.replace('http://', 'https://');
  }
</script>
  <body>
    {% include 'includes/_header.html.j2' %}
    {% include 'includes/_navbar.html.j2' %}
    {% include 'includes/_messages.html.j2' %}
    <div class="bgimg">
      <div class="container">
        <br>
        {% block body %}{% endblock %}
      </div>
    </div>
    <div style="padding-top: 70px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"></div>
    {% include 'includes/_footer.html.j2' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
