{% extends 'layout.html' %}

{% block body %}
  {% set subData1 = filesData.loc[filesData['who']==who] %}
  <div class="container">
    <h1>Material for {{who}}</h1>
    <hr>
    {% for workshop in workshopList %}
      {% set Wloop = loop.index %}
      {% set subData2 = subData1.loc[subData1['workshop']==workshop] %}
      <h2>Workshop on {{workshop}}</h2>
      <div class="panel-group">
        {% for iday in range(1,6) %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseW{{Wloop}}D{{iday}}">Day {{iday}}</a>
            </h4>
          </div>
          <div id="collapseW{{Wloop}}D{{iday}}" class="panel-collapse collapse">
            <div class="panel-body">
              {% for type in ['lectures','practicals'] %}
              {% set Tloop = loop.index %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapseW{{Wloop}}D{{iday}}T{{Tloop}}">{{type}}</a>
                    </h4>
                  </div>
                  <div id="collapseW{{Wloop}}D{{iday}}T{{Tloop}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- <p>Files are listed below:</p> -->
                        {% set subData3 = subData2.loc[subData1['type']==type+iday|string] %}
                        {% for index, row in subData3.iterrows() %}
                          <h4>
                            <form action={{subd}}/download/{{row['id']}} method="post">
                              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                              <a href="#" onclick="this.parentNode.submit()">{{row['title']}}</a>
                            </form>
                          </h4>
                          <p style="font-size:18px">{{row['description']}}</p>
                          {% if loop.index != subData3|length %}
                            <hr style="height:2px" />
                          {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr>
      <br>
    {% endfor %}
  </div>
  <hr>
{% endblock %}
