{% extends 'layout.html' %}

{% block body %}
<h1>Partners</h1>
<br>
<p style="text-align: justify;">
  The course will be developed and delivered by a team of experienced lecturers and researchers from the UK
  Universities of Leeds, Reading, and East Anglia, and Monash University, Australia, as well as the National
  Centre for Atmospheric Science (NCAS).
</p>
<br><br>
<table class="table">
  <tr>
    <td><img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:100px; width:auto;"></td>
    <td>University of Leeds</td>
  </tr>
  <tr>
    <td><img src="/static/UEA-logo.png" alt="UEA logo" style="height:100px; width:auto;"></td>
    <td>University of Reading</td>
  </tr>
  <tr>
    <td><img src="/static/UoR-logo.jpg" alt="Reading logo" style="height:100px; width:auto;"></td>
    <td>University of East Anglia</td>
  </tr>
  <tr>
    <td><img src="/static/NCAS-logo.jpg" alt="NCAS logo" style="height:100px; width:auto;"></td>
    <td>NCAS</td>
  </tr>
  <tr>
    <td><img src="/static/Monash-logo.jpg" alt="MONASH logo" style="height:100px; width:auto;"></td>
    <td>MONASH University</td>
  </tr>
  <tr>
    <td><img src="/static/MO-logo.jpg" alt="Met Office logo" style="height:100px; width:auto;"></td>
    <td>Met Office</td>
  </tr>
</table>

{% endblock %}
