{% extends 'layout.html' %}

{% block body %}
<h1>Partners</h1>
<table class="table">
  <tr>
    <td><img src="{{subd}}/static/Leeds-logo.jpg" alt="Leeds logo" style="height:100px; width:auto;"></td>
    <td>University of Leeds</td>
  </tr>
  <tr>
    <td><img src="{{subd}}/static/MO-logo.jpg" alt="Met Office logo" style="height:100px; width:auto;"></td>
    <td>Met Office</td>
  </tr>
  <tr>
    <td><img src="{{subd}}/static/UEA-logo.png" alt="UEA logo" style="height:100px; width:auto;"></td>
    <td>University of Reading</td>
  </tr>
  <tr>
    <td><img src="{{subd}}/static/UoR-logo.jpg" alt="Reading logo" style="height:100px; width:auto;"></td>
    <td>University of East Anglia</td>
  </tr>
  <tr>
    <td><img src="{{subd}}/static/NCAS-logo.jpg" alt="NCAS logo" style="height:100px; width:auto;"></td>
    <td>NCAS</td>
  </tr>
  <tr>
    <td><img src="{{subd}}/static/Monash-logo.jpg" alt="MONASH logo" style="height:100px; width:auto;"></td>
    <td>MONASH University</td>
  </tr>
</table>

{% endblock %}
