{% extends 'layout.html' %}

{% block body %}

<h1>Timetables</h1>
<hr>

<table class="table table-striped">
  <tr>
    <th>Workshop</th>
    <th>Timetable</th>
    <th></th>
  </tr>
  {% for index, row in timetablesData.iterrows() %}
    <tr>
      <td>{{row['workshop']}}</td>
      <td>
        <form action={{subd}}/download-timetable/{{row['id']}} method="post">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          <a href="#" onclick="this.parentNode.submit()">Click to download</a>
        </form>
      </td>
      <td>
        {% if session.username == row['author'] or session.username == 'admin' %}
          <form action={{subd}}/delete-timetable/{{row['id']}} method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% if session.usertype == 'trainer' or session.usertype == 'admin' %}
  <hr>
  <h2>Upload new timetable</h2>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="timetable-form" action={{subd}}/timetables method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="chooseFile">Note: This will overwrite any previously-uploaded timetable for the selected workshop</label>
      <input type="file" name="file" class="form-control-file" id="chooseFile">
    </div>
    <div class="form-group">
      {{render_field(form.workshop, class_="form-control")}}
    </div>
    <button class="btn btn-primary" type="submit">Upload timetable</button>
  </form>
{% endif %}

{% endblock %}
