{% extends 'layout.html.j2' %}

{% block body %}

<h1>Timetables</h1>
<hr>

<table class="table table-striped">
  <tr>
    <th>Workshop</th>
    <th>Timetable</th>
    <th></th>
  </tr>
  {% for index, row in timetablesData.iterrows() %}
    <tr>
      <td>{{row['workshop']}}</td>
      <td>
        {% if ('.docx' in row['filename']) %}
          <a href="/view-timetable/{{row['id']}}" target="_blank" >Click to view</a>
          <br>
        {% endif %}
          <form action=/download-timetable/{{row['id']}} method="post">
          <a href="#" onclick="this.parentNode.submit()">Click to download</a>
          </form>
      </td>
      <td>
        {% if session.username == row['author'] or session.username == 'admin' %}
          <form action=/delete-timetable/{{row['id']}} method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% if session.usertype == 'trainer' or session.usertype == 'admin' %}
  <hr>
  <h2>Upload new timetable</h2>
  <br>
  <p><b>Note: </b>This will overwrite any previously-uploaded timetable for the selected workshop</p>
  <p><b>Note 2: </b>If you upload a .docx file, the user will be able to view the timetable directly in the web browser</p>
  {% from "includes/_formhelpers.html.j2" import render_field %}
  <form role="form" method="POST" action=/timetables enctype="multipart/form-data">
      <input type="file" name="file" autofocus required>
      <br>
    <div class="form-group">
      {{render_field(form.workshop, class_="form-control")}}
    </div>
      <button type="submit" class="btn btn-success">Upload material</button>
  </form>
{% endif %}

{% endblock %}
