{% extends 'layout.html' %}

{% block body %}
  {% set subData1 = filesData.loc[filesData['who']=='trainers'] %}
  <div class="container">
    <h1>Trainer material</h1>
    <hr>
    <h2>Workshop on 16-20 July 2018 (Met Office, Exeter, UK)</h2>
    <div class="panel-group">
      {% for iday in range(1,6) %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse{{iday}}">Day {{iday}}</a>
          </h4>
        </div>
        <div id="collapse{{iday}}" class="panel-collapse collapse">
          <div class="panel-body">
            {% for type in ['lectures','practicals'] %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse{{type}}{{iday}}">{{type}}</a>
                  </h4>
                </div>
                <div id="collapse{{type}}{{iday}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!-- <p>Files are listed below:</p> -->
                      {% set subData2 = subData1.loc[subData1['type']==type+iday|string] %}
                      {% for index, row in subData2.iterrows() %}
                        <h3>
                          <form action={{subd}}/download/{{row['id']}} method="post">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            <a href="#" onclick="this.parentNode.submit()">{{row['title']}}</a>
                          </form>
                        </h3>
                        <p style="font-size:20px">{{row['description']}}</p>
                        {% if loop.index != subData2|length %}
                          <hr style="height:2px" />
                        {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
{% endblock %}
